<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title | default("Kpop Netrunner") }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/anime/">Anime</a></li>
        <li><a href="/kpop/">K-Pop</a></li>
        <li><a href="/programming/">Programming</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content | safe }}
  </main>

  <footer>
    <p>© 2026 www.kpopnetrunner.com</p>
  </footer>

</body>
</html>

